# IDE & System Related Files #
.DS_Store
.idea

# OSX #
._*
.Spotlight-V100
.Trashes

# Local System Files (i.e. cache, logs, etc.) #
/etc/config.json
/etc/config_front.json
/etc/config_daemon.json

# Never ignore #
# Only apply this rule to the main repository's gitignore files
!/.gitignore

# Composer
/vendor
/**/css/vendor
/**/fonts/fontawesome*
/**/js/vendor
/**/js/dist

# NPM
/node_modules