<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">

            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <testsuites>
        <!-- C'est ici que l'on déclare les dossiers contenant les fichiers de test unitaire PHP Unit -->
        <testsuite name="Application Test Suite">
            <directory>./src/Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>