#logo {
  @extend .text-hide;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url(../images/logo.png);
  width: 63px;
  height: 30px;

  + h2 {
    margin-top: 4rem;
    color: #fff;
  }
}

.box {
  background: #fff;
  border-top: solid 5px #ccc;
  border-radius: 1rem;
  text-align: left;
  overflow: hidden;

  > h2 {
    padding: 1rem;
    border-bottom: solid 2px #ccc;
    background: #fbfbfb;
    margin: 0;
  }

  .btn-lg {
    border-radius: 0;
    border-top-right-radius: $btn-border-radius-lg;
  }

  .text-xs-right .btn-lg {
    border-top-left-radius: $btn-border-radius-lg;
    border-top-right-radius: 0;
  }

  .content {
    padding: 1rem;
  }

  ol {
    @extend .list-unstyled;

    ol {
      margin-left: 20px;

      &.smileys {
        margin: 0;

        > li {
          display: block;
          position: relative;
          text-align: center;
        }

        label {
          display: inline-block;
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          margin: 0;
          cursor: pointer;
          transition: all ease-in-out .2s;
          border-radius: 50%;
        }

        input {
          position: absolute;
          visibility: hidden;

          &:checked + label {
            color: #fff !important;

            &.text-danger {
              background: $brand-danger;
            }
            &.text-warning {
              background: $brand-warning;
            }
            &.text-success {
              background: $brand-success;
            }
          }
        }

        span {
          position: relative;
          font-size: 3rem;
          line-height: 3rem;
          top: -1px;
        }

      }
    }
  }
}

#thanks {
  display: none;
  bottom: 0;
  background: $body-bg;
  color: #fff;
  text-align: center;
  transition: opacity ease-in-out .2s;
  opacity: 0;

  h2 {
    margin: 40px;
  }

  > div {
    display: table;

    > div {
      display: table-cell;
    }
  }
}

#error {
  color: #fff;
}